<div class="row header">
	<div class="col-xs-12">
		<h2>Talks</h2>
	</div>
</div>

{{#each lectures}}
<div class="card lecture">
	<div class="card-header lecture-header">
		<h4>{{title}} <small>{{date}}</small></h4>
	</div>
	<div class="card-block">
		<p>
			{{description}}
		</p>
		<p>
			<a href="{{url}}">View online</a>
		</p>
		<div class="clearfix"></div>
	</div>
</div>
{{/each}}
